@font-face {
    font-family: "Merriweather";
    src: url("fonts/Merriweather/*");
}

body {
    font-variant: all-petite-caps;
    text-align: center;
    font-family: Merriweather;
}

header {

}

footer {

}


h1 {
    text-align: center;
}

a:hover {
   background-color: lightblue;
}

nav table {
    width: 100%;
    border: 1px solid black;
    column-width: 33%;
    text-align: center;
}

#nav_current {
    font-weight: 700;
}

nav li {
    font-size: 12px;
}

aside {
    width: 30%;
}

article {
    background-color: pink;
}

section {
    width: 70%;
}

ul {
    list-style: none;
}

.book_title {
    font-style: italic;
}