body {
    font-variant: all-petite-caps;
    text-align: center;
}

h1 {
    text-align: center;
}

nav table {
    width: 100%;
    border: 1px solid black;
    column-width: 33%;
    text-align: center;
}

#nav_current {
    font-weight: 700;
}

nav li {
    font-size: 12px;
}

aside {
    width: 30%;
}

section {
    width: 70%;
}